body {
    margin: 0%;
    font-family: 'Kantumruy Pro', sans-serif;
}

.big-font {
    font-size: 60px;
}

.first-section {
    position: relative;
    text-align: center;
    background-image: url(images/donation13.jpg);
    margin-bottom: 150px;

    color: white;
    padding-top: 150px;

}

.font-weight {
    color: white;
    font-weight: 900;

}

.link-button {

    padding: 5px 10px;
    text-decoration: none;
    background-color: brown;
    color: aliceblue;

    border-radius: 5px;
    font-weight: 900;
}

.second-section {
    text-align: center;
}

#gray-color {
    color: gray;
}

.inline {
    display: inline;
    color: gray;
}

.border {
    border: 2px solid brown;
    padding: 10px;
    color: brown;
}

.other {
    color: gray;
    padding-top: 20px;
}

hr {
    margin-left: 500px;
    margin-right: 500px;
}

.plan {
    text-align: center;
    margin-top: 100px;
}

.help {
    color: gray;
}