body {
    margin: 0%;
    font-family: 'Kantumruy Pro', sans-serif;
}

.big-font {
    font-size: 60px;
}

.first-section {
    position: relative;
    text-align: center;
    background-image: url(images/donation13.jpg);
    margin-bottom: 150px;

    color: white;
    padding-top: 150px;

}

.font-weight {
    color: white;
    font-weight: 900;

}

.link-button {

    padding: 5px 10px;
    text-decoration: none;
    background-color: brown;
    color: aliceblue;

    border-radius: 5px;
    font-weight: 900;
}

.second-section {
    text-align: center;
}

#gray-color {
    color: gray;
}

.inline {
    display: inline;
    color: gray;
}

.border {
    border: 2px solid brown;
    padding: 10px;
    color: brown;
}

.other {
    color: gray;
    padding-top: 20px;
}

hr {
    margin-left: 500px;
    margin-right: 500px;
}

.plan {
    text-align: center;
    margin-top: 100px;
}

.help {
    color: gray;
}

.experience-area {
    text-align: center;
    display: flex;
    width: 50%;
    padding-left: 300px;
}

#first {
    text-align: center;
    margin: 30px;
    background-color: bisque;


}

#second {
    margin: 30px;
    text-align: center;
    background-color: whitesmoke;

}

#third {
    margin: 30px;
    text-align: center;
    background-color: antiquewhite;

}

.depend {
    display: flex;
    padding-left: 10%;
    width: 100%;
}

.depend img {
    width: 60%;
    margin-left: 10%;
}

.update {

    margin-top: 150px;
    text-align: center;
}

.footer {
    padding: 50px;
    background-color: cadetblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}